.parent {
  border: 2px solid blue;
  color: black;
  display: flex;
}

.box {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
  border: 1px solid red;
}

#box2 {
  background-color: chocolate;
}

.element {
  background-color: aquamarine;
}